header {
  display: flex;
}

.sticky-container {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #eaedef;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 128rem;
  width: 100%;
  height: 8rem;
  padding: 1rem 6rem;
  margin: 0 auto;
}

.logo {
  margin-right: 3.5rem;
}

.nav-wrap {
  display: flex;
}

.nav-wrap a {
  display: block;
  padding: 0 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.user-wrap {
  display: flex;
  align-items: center;
}

.user-wrap .user-area {
  display: flex;
  align-items: center;
}

.user-wrap .user-area a {
  font-size: 1.4rem;
  padding: 0 1rem;
  border-right: 1px solid #eaedef;
}

.user-wrap .user-area a:last-of-type {
  border-right: none;
}

.user-wrap .user-area .user-profile {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 100%;
  font: inherit;
  outline: none;
}

.user-wrap .user-area .user-profile:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 2px solid #35c5f0;
  box-sizing: border-box;
}
