header {
  display: flex;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 128rem;
  width: 100%;
  height: 8rem;
  padding: 1rem 6rem;
  margin: 0 auto;
}

.logo {
  margin-right: 3.5rem;
}

.nav-wrap {
  display: flex;
}

.nav-wrap a {
  display: block;
  padding: 0 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.user-wrap {
  display: flex;
  align-items: center;
}

.user-wrap .user-area a {
  font-size: 1.4rem;
  padding: 0 1rem;
  border-right: 1px solid #eaedef;
}

.user-wrap .user-area a:last-of-type {
  border-right: none;
}
