.card-wrap {
  position: sticky;
  top: 0;
  left: 6rem;
  padding: 3rem 0;
  max-width: 30rem;
}

.sticky-profile {
  position: relative;
  width: 100%;
  padding: 3rem 2.5rem 1.8rem;
  border-radius: 4px;
  border: 1px solid rgb(218, 220, 224);
  box-shadow: rgba(63, 71, 77, 0.06) 0px 2px 4px 0px;
  text-align: center;
}

.profile-area {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  border-bottom: 1px solid #eaedef;
}

.profile-area .profile {
  width: 12rem;
  height: 12rem;
  margin: 0 auto 2.4rem;
}

.share-btn {
  position: absolute;
  top: 1.8rem;
  right: 1.2rem;
}

.follower-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.user-email {
  font-size: 1.4rem;
  margin: 1rem 0;
}

.follower-area p {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-right: 1px solid #ccc;
  font-size: 1.4rem;
  font-weight: 400;
  color: rgb(130, 140, 148);
}

.follower-area p a {
  display: inline-block;
  margin-left: 1rem;
  font-weight: 700;
  color: rgb(82, 91, 97);
}

.follower-area p:last-of-type {
  border-right: none;
}

.get-area {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.item-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-area img {
  width: 2.8rem;
  height: 2.8rem;
  margin: 0 auto;
}

.item-area p {
  font-size: 1.3rem;
  margin: 0.4rem 0;
}

.item-area span {
  font-size: 1.5rem;
  font-weight: 700;
}
