.label {
  display: block;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: -0.3px;
  word-break: keep-all;
}

.thumbnail {
  display: block;
  width: 20rem;
  height: 20rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #dbdbdb;
  background-color: #d8d8d8;
  font-size: 0;
  cursor: pointer;
}

.input {
  display: none;
}
