.input_wrap,
.input_label {
  min-width: 32rem;
}

.input {
  height: 4.4rem;
  padding: 0 1.6rem;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
  font-size: 1.4rem;
  font-weight: 400;
  color: #000;
  width: 100%;
}

.input::placeholder {
  color: #ccc;
}

.input:focus {
  outline: 1px solid #000;
  border: 1px solid transparent;
}

.input:disabled {
  pointer-events: none;
  color: #ccc;
  background-color: #777;
  border: 1px solid #ccc;
}
